# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

# This uses the GitHub setup script which at the time of writing did not support Java 19. We include this as some of the JVM
# API's were implemented differently and it would be good to catch the differences before other people do.

name: Java CI with Maven (Temurin)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test on java-version ${{ matrix.java_version }} and os ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK termurin
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
   
    - name: Build with Maven
      run: |
        mvn -B install --file Sandwood/pom.xml
        mvn -B install --file SandwoodMavenPlugin/pom.xml
        mvn -B test --file SandwoodExamples/pom.xml
